@import './mixins/variables.scss';
@import './mixins/buttons.scss';

body {
    .__main__body {
        display: flex;
        min-height: 120vh;
        flex-flow: row nowrap;
        justify-content: center;
        .__section__divider {
            width: 200px;
            float: left;
            position: relative;
            display: flex;
            justify-content: flex-start;
            background-color: #E5E7E9;
            outline-color: #E5E7E9;
            margin-bottom: 10%;
            
        }
        .main__body__section {
            display: flex;
            flex-basis: 38%;
            flex-flow: column nowrap;
            &.--one {
                height: 100%;
                p { 
                    margin-bottom: -.5%;
                }
                .__one__ {
                    margin-bottom: 8%;
                    display: flex;
                    flex-flow: column nowrap;
                    &.__text__content {
                        width: 100%;
                        flex-basis: 20%;
                        .__great__people {
                            font-size: 25px;
                            font-family: granary;
                        }
                        .__great__engineering {
                            font-size: 25px;
                            font-family: granary;
                        }
                        .__lets__create {
                            font-size: 20px;
                            font-family: calibre-light;
                        }
                    }
                    &.form__content__ {
                        flex-basis: 60%;
                        border-top: .5px solid #E5E7E999;
                        padding-top: 5%;
                        width: 90%;
                        height: 65vh;
                        .__form__ {
                            display: flex;
                            height: 100%;
                            flex-flow: column nowrap;
                            justify-content: space-between;
                            .__form__content {
                                display: flex;
                                flex-basis: 20%;
                                flex-flow: column nowrap;
                                label {
                                    font-size: 16px;
                                    font-family: acumin-light;
                                    margin-bottom: 20px;
                                }
                                input {
                                    outline: none;
                                    border: 0;
                                    font-size: 16px;
                                    font-family: calibre-light;
                                    color: #303030;
                                    border-bottom: 1px solid #90949760;
                                }
                                &.__text__content {
                                    flex-basis: 45%;
                                    textarea {
                                        padding: 10px;
                                        border: 1px solid #90949760;
                                        height: 100%;
                                        outline: none;
                                        font-family: calibre-light;
                                        font-size: 16px;
                                        color: #303030;
                                    }
                                }
                                &.__button__container {
                                    position: relative;
                                    bottom: -6%;
                                }
                                button {
                                    @include button-md;
                                    background-color: #28B463;
                                    border: none;
                                    border-radius: 17px;
                                    color: white;
                                    height: 37px;
                                    width: 127px;
                                    font-size: 15px;
                                    padding-top: 8px;
                                    font-family: apercu;
                                }
                                
                            }
                        }
                    }
                }
            }
            &.__two__ {
                flex-flow: column nowrap;
                padding-top: 11%;
                .__content__grid {
                    display: flex;
                    flex-basis: 16%;
                    flex-flow: row nowrap;
                    .__content__grid__item {
                        display: flex;
                        flex-flow: column nowrap;
                        flex-basis: 33%;
                        .__item__title {
                            font-family: acumin;
                            font-size: 17px;
                            margin-bottom: 2%;
                        }
                        .item__container__ {
                            p {
                                font-size: 16px;
                                width: 90%;
                                font-family: calibre-light;
                                .__highlighter__ {
                                    color: #28B463;
                                }
                            }
                        }
                    }
                }
               .__image__holder {
                   display: flex;
                   flex-flow: column nowrap;
                   padding: 3%;
                   .spotlight__image {
                       height: 90%;
                       width: 100%;
                       object-fit: cover;
                   }
               } 
            }
        }
    }
}

@media only screen and (max-width: 480px) { 
    body {
        .__main__body {
            flex-wrap: wrap !important;
            padding-left: 5% !important;
        }
        .main__body__section {
            flex-basis: 100% !important;
        }
    } 
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    body {
        .__main__body {
            flex-wrap: wrap !important;
            padding-left: 5% !important;
        }
        .main__body__section {
            flex-basis: 100% !important;
        }
    } 
}