@import "./mixins/variables.scss";
@import "./mixins/buttons.scss";

body {
 .content-banner-container {
     background-color: #00000090 !important;
 }
  .__main__body {
    display: flex;
    min-height: 120vh;
    flex-flow: column nowrap;
    .main__body__section {
      display: flex;
      flex-basis: 100%;
      margin: 0 auto;
      justify-content: center;
      align-items: center;
      width: 70%;
      flex-flow: column nowrap;
      &.--one {
        // height: 100%;
        p {
          margin-bottom: -0.5%;
        }
        .__one__ {
          margin-bottom: 8%;
          display: flex;
          flex-flow: column nowrap;
          &.__text__content {
            width: 100%;
            flex-basis: 20%;
            .__great__people {
              font-size: 25px;
              font-family: granary;
            }
            .__great__engineering {
              font-size: 25px;
              font-family: granary;
            }
            .__lets__create {
              font-size: 20px;
              font-family: Roboto;
            }
          }
          &.form__content__ {
            flex-basis: 60%;
            border-top: 0.5px solid #e5e7e999;
            padding-top: 5%;
            width: 90%;
            height: 65vh;
            .__form__ {
              display: flex;
              height: 100%;
              flex-flow: column nowrap;
              justify-content: space-between;
              .__form__content {
                display: flex;
                flex-basis: 20%;
                flex-flow: column nowrap;
                label {
                  font-size: 16px;
                  font-family: acumin-light;
                  margin-bottom: 20px;
                }
                input {
                  outline: none;
                  border: none;
                  width: 85%;
                  height: 45px;
                  background-color: #f0f7f4;
                  font-size: 16px;
                  font-family: Roboto;
                  color: #303030;
                  border-bottom: 1px solid #f0f7f4;
                }
                &.__text__content {
                  flex-basis: 45%;
                  textarea {
                    padding: 10px;
                    border: 1px solid #f0f7f4;
                    height: 100%;
                    width: 85%;
                    outline: none;
                    background-color: #f0f7f4;
                    font-family: Roboto;
                    font-size: 16px;
                    color: #303030;
                  }
                }
                &.__button__container {
                  position: relative;
                  bottom: -6%;
                }
                button {
                  @include button-md;
                  background-color: #28b463;
                  border: none;
                  border-radius: 17px;
                  color: white;
                  height: 37px;
                  width: 127px;
                  font-size: 15px;
                  padding-top: 8px;
                  font-family: apercu;
                }
              }
            }
          }
        }
      }
      &.__two__ {
        flex-flow: column nowrap;
        padding-top: 2%;
        .__content__grid {
          display: flex;
          flex-basis: 16%;
          flex-flow: row nowrap;
          width: 100%;
          .__content__grid__item {
            display: flex;
            flex-flow: column nowrap;
            flex-basis: 33%;
            .__item__title {
              font-family: gotham;
              font-size: 17px;
              margin-bottom: 2%;
            }
            .item__container__ {
              svg {
                margin-right: 10px;
                &:hover {
                  cursor: pointer;
                }
              }
              p {
                font-size: 16px;
                width: 90%;
                color: #909497;
                font-family: acumin-light;
                .__highlighter__ {
                  color: #28b463;
                }
              }
            }
          }
        }
        .__image__holder {
          display: flex;
          flex-flow: column nowrap;
          padding: 3%;
          .spotlight__image {
            height: inherit;
            width: 100%;
            object-fit: cover;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 480px) {
  body {
    .__main__body {
      flex-wrap: wrap !important;
      padding-left: 5% !important;
    }
    .main__body__section {
      flex-basis: 100% !important;
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  body {
    .__main__body {
      flex-wrap: wrap !important;
      padding-left: 5% !important;
    }
    .main__body__section {
      flex-basis: 100% !important;
    }
  }
}
